@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!String.IsNullOrEmpty(Model))
    {
        <p>Welcome, @Model!</p>
    }
    else
    {
        <p>Welcome, guest!</p>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
